.left-top{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.container-window{
    height: 50%;
    width: 100%;
    padding: 1%;
}

.pocenter{
    display: flex;
    align-items: center;
}

.accept{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}
